body {
    font-family: Helvetica, sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
}
.container {
    max-width: 500px;
}

.day-time {
    background: #84D6E2;
}

.night-time {
    background: #595055;
}

@media(max-width: 425px) {
    body {
        font-size: medium;
    }

    .heading, .condition, .temp {
        font-size: 2.25rem;
    }
}